.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin: 0;
}
.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.vertical-text {
  writing-mode: vertical-lr;
  text-align: left;
  margin-right: 3px;
}

.vertical-text-content {
  margin: 0;
  transform: rotate(180deg);
  font-size: 10px;
  color: rgb(0, 0, 0, 0.4);
}

.vertical-text-content a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.6);
  font-weight: bold;
}

.Logo {
  max-width: 160px;
  height: auto;
  margin: 0 20px;
}

footer {
  font-size: 12px;
  margin: 30px auto;
  color: rgb(0, 0, 0, 0.4);
}

footer a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.6);
  font-weight: bold;
}
